@font-face {
    font-family: "OCR-A";
    src: url("./assets/fonts/ocr-a.ttf");
}

@font-face {
    font-family: "OCR_B";
    src: url("./assets/fonts/ocr-b.ttf");
}

table,
th,
td {
    border: 1px solid black;
}

body {
    font-family: "OCR-B", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "OCR-A", monospace;
}